{% extends 'core/base.html' %}

{% block title %}Acerca de{% endblock %}

{% block background %}{% load static %}{% static 'core/img/about-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Acerca de</h1>
<span class="subheading">Biografía</span>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-3 col-md-4 offset-lg-1">
    <img class="img-fluid avatar" src="{% static 'core/img/avatar.jpg' %}" alt="">
  </div>
  <div class="col-lg-7 col-md-8">
    <h2 class="section-heading">Vicente Moyano Álvarez</h2>   
    <p>Nacido en el pueblo de Quilpué, Valparaíso, V Región. El día 2 de febrero de 1995, un entusiasta impulsado por los desafios que entrega el día a día, aprendiz hasta el día de mi muerte, y discípulo del conocimiento.</p>
    <p>Interés en el área de psicología social, y muchas ganas de aplicar un nuevo concepto, de como se debe trabajar hoy en día en las empresas, a favor de que el ser humano sea <b>FELIZ</b> mientras hace lo que ama.</p>
  </div>
</div>
{% endblock %}