{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Asesoría</span>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-8 col-md-10 mx-auto">
    <p>Para cualquier consulta, ya se precios, trabajos que desee hacer, me puede invitar a tomar un café</p>
    <br>
    <p><b>Teléfono:</b> +09 876 543 210</p>
    <p><b>Honorarios:</b> $4.500/h (precio base)</p>
  </div>
</div>
{% endblock %}
